/* --------Обнуление-------- */
*,*::after,*::before{
    padding: 0px;
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    overflow-x: hidden; 
}
a {
    text-decoration: none;
}
ul{
    list-style: none;
}
/* --------для всей страницы--------- */
.content{    
    padding-left: 40px;
    padding-right:40px;    
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1280px;    
}
@font-face {
    font-family: Arial;
    src: url(../../assets/fonts/ArialMT.ttf);
    font-style:normal;
    font-weight: 400;
}
@font-face {
    font-family: Arial;
    src: url(../../assets/fonts/Arial-ItalicMT.ttf);
    font-style:italic;
    font-weight: 400;
}
@font-face {
    font-family: Georgia;
    src: url(../../assets/fonts/Georgia.ttf);
    font-style:normal;
    font-weight:400;
}
h2 {
    font:normal 400 35px/1.3em Georgia;   
    color: #545454;
    letter-spacing: 0.06em;
}
h3 {
    font:normal 400 20px/1.15em Georgia;   
    color: #545454;
    letter-spacing: 0.06em;

}
p {
    font:normal 400 15px/1.6em Arial;    
}
/* ------------- фон блоков ------------------------ */
.start_screen, #footer{    
    background:url(../../assets/images/background.png),radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) center round;
}
.about, .help{
    background-color: #FFFFFF; 
}
.pets, .donation {
    background-color: #F6F6F6;    
}
/* ----------для содержимого блоков------------ */
.about_content,.pets_content,#help_block,.donation_content{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    margin-top: 80px;
    margin-bottom: 100px;
}
/* -----------заголовок и блок Start-screen---------- */
.shadow,#burger_menu,.btn_burger,.sub_mob_menu{
    display: none;
}
.header_title{    
    display: flex; 
    justify-content: space-between;
    align-items: center;   
}
.sub_header{
    margin-top: 61px;
}
h1{
    font: normal 400 32px/1.1em Georgia;
    letter-spacing: 0.06em;
    color: #F1CDB3; 
}
.sub_header p{
    padding-left: 4px;
    font: normal 400 13px/1.15em Arial;
    letter-spacing: 0.10em;
    color: #FFFFFF;
    padding-top:10px;
}
.menu{
    margin-top: 55px;
    display: inline-block;
}
.menu ul{
    display: flex;
    gap: 36px;
}
.menu li {    
    font:normal 400 15px/1.6em Arial;    
    color: #FAFAFA;    
}
.link {
    color: #CDCDCD;
    cursor: pointer;   
}
.link:hover{
    color:#FAFAFA;
    cursor: pointer;
}
.link span{
    padding-bottom: 5px;
    border-bottom: 3px solid #F1CDB3;
    color:#FAFAFA;
}
.start_screen_content{
    display: flex;    
    margin-top: 60px;    
    gap: 42px;       
}
.start_text{
    display: flex;
    flex-direction: column;
    gap: 42px;
    max-width: 38.334%;
    margin-top: 163px;
    align-items: flex-start;   
}
.start_text h2{       
    color: #FFFFFF;
    letter-spacing: 0em;
    font:normal 400 44px/1.3em Georgia;

}
.start_text p{      
    color: #CDCDCD;
}

.start_img{
    display: flex;    
    max-width: 58.2%;       
}
.start_img img{    
    width: 100%;
    height: 100%;
}
.btn_make_friends{
    display: flex;
    width: 207px;
    height: 52px;
    justify-content: center;
    align-items: center;    
}
.btn_make_friends,.btn_get_to_know{    
    font:normal 400 17px/1.3em Georgia;
    letter-spacing: 0.06em;    
    border-radius: 100px;     
    color:#292929;
    background:#F1CDB3;    
}
.btn_make_friends:hover,
.btn_get_to_know:hover{
    background: #FDDCC4;
}
/* -----------блок About------------ */
.about_content{    
    gap: 120px;
    justify-content: center;
    
}
.about_text{
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 35.834%;
}
.about_text p{
    color: #4C4C4C;
}
.about_text h2{
    letter-spacing: 0.06em;
}
.about_img{
    display: flex;
    max-width: 42.373%;
}
.about_img img{
    width: 100%;
    height: 100%;
}
/* --------блок питомцев-------- */
.pets_content{
    flex-direction: column;
    gap: 60px;
}
#pets_title {    
    text-align: center;
}

/*---------слайдер---------  */
.pets_content{   
    text-align: center;    
    gap: 59px;
    position: relative;   
}
.pets_slider_content{    
    overflow: hidden;
    display: flex;
    width: 990px;
}
.slider_wrap{
   position: relative;
   width: 990px;
   height: 435px;
   left: 0px;      
}
.slider{
    display: flex;       
    width: 990px;    
    position: absolute;
    left: 0px;
    top: 0;
    gap: 90px;    
}
div.slider.left{
    display: flex;  
    transition: 2s;    
    width: 990px;    
    position: absolute;
    left: -990px;
    top: 0;
}
 div.slider.right{
    display: flex;    
    left: 990px;
    transition: 2s;    
    width: 990px;    
    position: absolute;    
    top: 0;
} 
.card{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 29px;
    border-radius: 9px;
    align-items: center;
    padding-bottom: 30px;
    margin-bottom: 73px;
    background-color: #FAFAFA;
    cursor: pointer;              
}
.card:hover {
    cursor: pointer;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);   
}
.card:hover > .learn_more{
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;
    cursor: pointer;
    color: #292929;
}


.learn_more{
    width: 187px;
    height: 52px;    
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background-color: transparent;
    font:normal 400 17px/1.3em Georgia;
    letter-spacing: 0.06em;
    cursor: pointer;
}
.learn_more:hover{
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;
    cursor: pointer;
    color: #292929
}
.arrow{
    position: absolute;    
    top: 341px;
    width: 52px;
    height: 52px;
    background: transparent;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    cursor: pointer;
    z-index: 1;   
}
.arrow:hover{
    background-color: #FDDCC4;
    border:#FDDCC4;

}
button.arrow.left{
    left:0px;  
}
button.arrow.right{
    right: 0px;    
}

@keyframes move-right{
    from{left: 0px;}
    to { left: -990px;}    
}
.transition-right{
    animation-name: move-right;
    animation-duration: 0.5s;
}
@keyframes move-left{
    from{left: 0px;}
    to { left: 990px;}    
}
.transition-left{
    animation-name: move-left;
    animation-duration: 0.5s;
}

.btn_get_to_know{
    display: flex;
    width: 260px;
    height: 52px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;    
}
/* -----------модальное окно------------ */
.popup{
    display: none;
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(41,41,41,0.6);
    z-index: 3;       
}
.popup_body{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;    
}
div.popup.active{
    display: block;
    cursor: pointer;     
}
.popup_content{ 
    position: relative;    
    cursor: default;
    display: flex;
    width: 900px;
    height: 500px;   
    border-radius: 9px;
    background-color: #FFFFFF;    
}
.popup_img{
    display: flex;
    width: 500px;
    border-radius: 9px;
    overflow: hidden;
}
.popup_img img{
    width: 100%;
    height:100%;    
}
.popup_text{    
    width: 400px;    
    text-align: left;
    background-color: #FFFFFF;    
    padding: 50px 20px 88px 29px;
    color: #000000;
    border-radius: 9px;    
}

.popup_text h3{
    color: #000000; 
    font:normal 400 35px/1.3em Georgia;
    letter-spacing: 0.06em;
    margin: 0 auto;    
    padding-bottom: 10px;    
}
.popup_text h4{    
    font:normal 400 20px/1.15em Georgia;
    letter-spacing: 0.06em;
    padding-bottom: 42px;
}
.popup_text p{   
    font:normal 400 15px/1.10em Georgia;
    letter-spacing: 0.06em;
    text-align: justify;
    padding-bottom: 42px;    
}
.popup_text ul{
    text-align: left;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.popup_text span{
    color: #000000; 
    font:normal 400 15px/1.10em Georgia;
    letter-spacing: 0.06em;    
}
.popup_text li{   
    list-style: disc;  
    color: #F1CDB3;   
}
.btn_modal_win{
    display: flex;
    justify-content: center;
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;    
    background: transparent;
    cursor: pointer;
    position: absolute;
    top: -52px;
    z-index: 2;
    margin-left: 890px;  
}
.btn_modal_win img{    
    width: 23%;
    z-index: 3;    
}
.btn_modal_win:hover{
    background: #FDDCC4;
    border: #FDDCC4;
}
/* ------------ Блок Help------------- */
#help_block{
    flex-direction: column;
    gap: 59px;    
}
.help_title{
    text-align: center;
}
.help_list{    
    display: flex;    
    flex-wrap: wrap;
    max-width: 85.4%;
    justify-content: center;
    row-gap: 55px;
    column-gap: 119px;
}

.list{    
    display: flex;
    flex-direction: column;    
    align-items: center; 
}  

.list_img{
    display: flex;
           
}
.list_img img{
    width: 60px;
    height: 60px;
}
.list p{
    font:normal 400 20px/1.15em Georgia;
    letter-spacing: 0.06em;
    color: #545454;           
    padding-top: 30px;     
}
/* -------------Блок Donation----------------- */
.donation_content{     
    justify-content: center;    
    text-align: left;
    color:#545454;
    gap: 30px; 
}

.donation_content_info{
    display: flex;
    flex-direction: column;
    gap: 20px;    
    max-width: 31.667%;
}
.donation_content_info h4{
    font:normal 400 15px/1.1em Georgia;
    letter-spacing: 0.06em;
}
.credit_card{ 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 349px;
    height: 43px;
    background: #F1CDB3;
    border-radius: 9px;
    font:normal 400 20px/1.15em Georgia;
    letter-spacing: 0.06em;
    color: #545454;
    text-align: left;   
}
.credit_card:hover{
    background: #FDDCC4;  
}

.donation_content_info p{
    font:italic 400 12px/1.5em Arial;    
    color: #B2B2B2;
}
.donation_img{
    display: flex;
    max-width: 43%;
}
/* ------------- Footer---------------- */

.footer_content{
    display: flex;    
    margin-top: 40px;
    gap: 64px;
    align-items: center;    
}
.footer_content_info{
    display: flex;    
    gap: 160px;    
    text-align: left;    
    margin-top:16px;    
}
.contacts{
    display: flex;
    flex-direction: column;       
    gap: 40px;
    align-items: flex-start;
    max-width:33.4%;
    margin-bottom: 60px;
}
.footer_content_info h2{
font: normal 400 35px/1.3em Georgia;
letter-spacing: 0.06em;
color: #FFFFFF;
}
.contacts img{
    width: 40px;
    height: 32px;
}

.contacts a{
    display: flex;    
    gap: 20px;
    align-items: center;   
}
.locations{
    display: flex;
    flex-direction: column;       
    gap: 33px;
    align-items: flex-start;
    max-width:36%;
    margin-bottom: 60px;   
}
.locations a{
    display: flex;    
    gap: 19px;
    align-items: center;
    text-align: left;    
}
.contacts h4,.locations h4{
    font: normal 400 20px/1.15em Georgia;
    letter-spacing: 0.06em;
    color:#F1CDB3;  
}  
.footer_img{
    display: flex;    
}



