/* --------Обнуление-------- */
*,*::after,*::before{
    padding: 0px;
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    overflow-x: hidden; 
}
/* .wrap{
    height: 100%;
} */

a {
    text-decoration: none;
}
ul{
    list-style: none;
}
/* --------для всей страницы--------- */
.content{    
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    display: flex;
    flex-direction: column; 
    justify-content: center;    
}
@font-face {
    font-family: Arial;
    src: url(../../assets/fonts/ArialMT.ttf);
    font-style:normal;
    font-weight: 400;
}
@font-face {
    font-family: Arial;
    src: url(../../assets/fonts/Arial-ItalicMT.ttf);
    font-style:italic;
    font-weight: 400;
}
@font-face {
    font-family: Georgia;
    src: url(../../assets/fonts/Georgia.ttf);
    font-style:normal;
    font-weight:400;
}
h2 {
    font:normal 400 25px/1.3em Georgia;
    letter-spacing: 0.06em;        
}
h3 {
    font:normal 400 20px/1.15em Georgia;
    letter-spacing: 0.06em;
    color: #545454;
}
p {
    font:normal 400 13px/1.15em Arial;
    letter-spacing: 0.1em 
}
/* ---------заголовок --------- */
.header_screen{
    background-color: #FFFFFF;
    position: fixed;
    margin: 0 auto;    
    z-index: 4;
    width: 100vw;
    top: 0;
    left: 0px;     
}
.header{   
    display: flex;    
    justify-content: space-between;
    width: 100%;
    z-index: 1;       
}
.sub_header{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 31px;
    margin-bottom: 30px;    
}
.sub_header p{
    margin-left: 4px;
}
h1{
    font:normal 400 32px/1.1em Georgia;
    letter-spacing: 0.06em;
    color: #545454;  
}
/* -------- для бургер-меню------ */
#burger_menu{
    display: none;
}
.shadow{
    display: none;
}
div.shadow.push{
    position: absolute;
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: rgba(41,41,41,0.6);
    z-index: 4;
    top: 0;
    left: 0;    
}
body.push{
    box-sizing: border-box;
    overflow: hidden;
}
label{    
    display: block;
    position: fixed;
    width: 30px;
    height: 22px;
    right: 53px;
    top: 49px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
    z-index: 10;   
}
.btn_burger:before,
.btn_burger:after{
    content: ' ';
    background-color: #000000;
    position: absolute;
    width: 100%;
    height: 2px;
    right: 0;
}
.btn_burger:before{
    top: 0;
}
.btn_burger:after{
    bottom: 0;
}
.btn_burger span{     
    background-color: #000000;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 10px;
    right: 0;
}
.menu{ 
    display: block;  
    position: absolute;
    right:-100%;
    height: 100vh;    
    top: 0;    
    background-color: #292929;
    transition:0.5s;
    max-width: 320px;
    min-width: 320px;
    overflow: auto;
           
}
.sub_mob_menu{
    padding-top: 31px;
    padding-left: 10px;    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 159px;
    text-align: center;
    z-index: 7; 
}
.sub_mob_menu p{
    padding-left: 4px;
    font: normal 400 13px/1.15em Arial;
    letter-spacing: 0.10em;
    color: #FFFFFF;
    padding-top:10px;
}
.sub_mob_menu a{
    text-decoration: none;
    font: normal 400 32px/1.1em Georgia;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.menu ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-left: 39px;
    padding-right: 38px;
}
.menu li {    
    font:normal 400 32px/1.6em Arial;    
    color: #FAFAFA;    
}
.link {
    color: #CDCDCD;
    cursor: pointer;   
}
.link:hover{
    color:#FAFAFA;
    cursor: pointer;
}
.link span{
    padding-bottom: 5px;
    border-bottom: 3px solid #F1CDB3;
    color:#FAFAFA;
}
#burger_menu:checked ~ label{
    transform: rotate(-90deg);
    right: 54px;
    top:50px;
    z-index: 10;   
}
#burger_menu:checked ~ label > span{     
    background-color: #F1CDB3;   
}
#burger_menu:checked ~ .btn_burger::before{     
    background-color: #F1CDB3;   
}
#burger_menu:checked ~ .btn_burger:after{
    background-color: #F1CDB3;   
}

#burger_menu:checked ~ .header >  .sub_header{
    display: none;    
}

#burger_menu:checked ~ .header > .menu{
    display: block;
    right: 0;
    z-index: 8;
    transition:0.5s;    
}
/* --------страница-------- */
.page_wrap{
    margin-top: 120px;
    background-color: #F6F6F6;    
}
.page{
    display: flex;
    flex-direction: column;    
    margin-top: 42px;
    margin-bottom: 42px;
    text-align: center;
    color:#545454;
    gap: 42px;    
}
.slide_wrap{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    position: relative;
    width: 270px;
    height: 1365px;    
    margin-left: 15px;
    margin-right: 15px; 
    z-index: 0;    
 }
.slide{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 42px;
    margin: 0 auto;    
    position: relative;
    width: 300px;
    overflow: hidden; 
}
.buttons{
    display: flex;
    position: relative;
    bottom: 0;    
    gap: 10px;    
}

.slider{
    display: flex;    
    flex-direction: column;
    gap: 30px;
    position: absolute;
    left: 0px;
    top: 0; 
    width: 270px;    
}

div.slider.left{
    display: flex;       
    width: 270px;    
    position: absolute;
    left: -270px;
    top: 0;
}
 div.slider.right{
    display: flex;    
    left: 270px;       
    width: 270px;    
    position: absolute;    
    top: 0;
} 

button{
    width: 52px;
    height: 52px;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    background: transparent;
    font:normal 400 20px/1.15em Georgia;
    letter-spacing: 0.06em;
    color: #545454;
    cursor: pointer; 
}
.number{
    background-color: #F1CDB3;
    cursor: default;
}
button:disabled{
    color: #CDCDCD;
    border: 2px solid #CDCDCD;
    cursor: default;
    background-color: transparent;
}


.btn:hover{
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;
}

.card{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 30px;
    border-radius: 9px;
    align-items: center;
    padding-bottom: 30px;    
    background-color: #FAFAFA;
    cursor: pointer;              
}
.card:hover > .learn_more{
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;
    cursor: pointer;
    color: #292929;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);   
}
.learn_more{
    width: 187px;
    height: 52px;    
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background-color: transparent;
    font:normal 400 17px/1.3em Georgia;
    letter-spacing: 0.06em;
    cursor: pointer;
}
.learn_more:hover{
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;
    cursor: pointer;
    color: #292929
}

@keyframes move-right{
    from{left: 0px;}
    to { left: -270px;}    
}
.transition-right{
    animation-name: move-right;
    animation-duration: 0.5s;
}
@keyframes move-left{
    from{left: 0px;}
    to { left: 270px;}    
}
.transition-left{
    animation-name: move-left;
    animation-duration: 0.5s;
}


/* ------------- Footer---------------- */

.footer_content{
    display: flex;
    flex-direction: column;
    margin-top: 30px;    
    gap: 40px;
    align-items: center;    
}
.footer_content_info{
    display: flex;
    flex-direction: column;       
    gap: 40px;    
    text-align: center;
}
.contacts{
    display: flex;
    flex-direction: column;       
    gap: 40px;
    align-items: center;
}
.footer_content_info h2{
font: normal 400 25px/1.3em Georgia;
letter-spacing: 0.06em;
color: #FFFFFF;
margin: 0 auto;
padding-left: 15px;
padding-right: 15px;
}
.contacts img{
    width: 40px;
    height: 32px;
}

.contacts a{
    display: flex;    
    gap: 20px;
    align-items: center;   
}
.locations{
    display: flex;
    flex-direction: column;       
    gap: 40px;
    align-items: flex-start;    
}
.locations a{
    display: flex;    
    gap: 19px;
    align-items: center;
    text-align: left;    
}
.contacts h4,.locations h4{
    font: normal 400 20px/1.15em Georgia;
    letter-spacing: 0.06em;
    color:#F1CDB3;  
}
#footer{    
    background:url(../../assets/images/background.png),radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) center round;
}
.footer_img{
    display: flex;
    max-width: 86.67%;
}
.footer_img img{
    width: 100%;
    height: 100%;
}
/* ----------------Модальное окно------------- */
.popup{
    display: none;
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(41,41,41,0.6);
    z-index: 13;       
}
.popup_body{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.popup.active{
    display: block;
    cursor: pointer;     
}

.popup_content{ 
    position: relative;    
    cursor: default;
       
}
.popup_img{
    display: none;
}
.popup_text{    
    width: 240px;    
    text-align: center;
    background-color: #FFFFFF;    
    padding: 10px;
    border-radius: 9px;
    color: #000000;  
}

.popup_text h3{
    color: #000000; 
    font:normal 400 35px/1.3em Georgia;
    letter-spacing: 0.06em;
    margin: 0 auto;    
    padding-bottom: 10px;
}
.popup_text h4{    
    font:normal 400 20px/1.15em Georgia;
    letter-spacing: 0.06em;
    padding-bottom: 20px;
}
.popup_text p{   
    font:normal 400 13px/1.10em Georgia;
    letter-spacing: 0.06em;
    text-align: justify;
    padding-bottom: 24px;    
}
.popup_text ul{
    text-align: left;
    padding-left: 20px;
}
.popup_text span{
    color: #000000; 
    font:normal 400 15px/1.10em Georgia;
    letter-spacing: 0.06em;    
}
.popup_text li{   
    list-style: disc;  
    color: #F1CDB3;   
}
.btn_modal_win{
    display: flex;
    justify-content: center;
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    margin-left: 218px;
    background: transparent;
    cursor: pointer;
    position: absolute;
    top:-50px;
    z-index: 14;   
}
.btn_modal_win img{    
    width: 23%;
    z-index: 3;    
}
.btn_modal_win:hover{
    background: #FDDCC4;
    border: #FDDCC4;
}
